*{
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
}

.app{
  display: flex;
  align-items: center;
  
  flex-direction: column;
  height: 700px;

}

.cards{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around ;
  font-size: small;
  margin: 20px;
}

.cardInfected{
  padding:0px 40px;
}